@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}


<div class="details-container">
    <h1>Details</h1>

    <div>
        <h4>ID: @Html.DisplayFor(model => model.Cat.Id)</h4>
        <hr />
        <dl class="details-list">
            <dt>Порода</dt>
            <dd>@Html.DisplayFor(model => model.Cat.Breed)</dd>
            <dt>Пол</dt>
            <dd>@Html.DisplayFor(model => model.Cat.Gender)</dd>
            <dt>Окрас</dt>
            <dd>@Html.DisplayFor(model => model.Cat.Color)</dd>
            <dt>Возраст</dt>
            <dd>@Html.DisplayFor(model => model.Cat.Age)</dd>
        </dl>
    </div>

    <div class="details-links">
        <a asp-page="./Edit" asp-route-id="@Model.Cat.Id">Edit</a>
        <a asp-page="./Index">Back to List</a>
    </div>
</div>
<head><link rel="stylesheet" href="css/cat-details.css"></head>