@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@using kitty_store.Models
@inject UserManager<User> UserManager
@inject RoleManager<IdentityRole> RoleManager

@{
    ViewData["Title"] = "Index";
    
    var userId = UserManager.GetUserId(User);
    var user = await UserManager.FindByIdAsync(userId);
    var roles = await UserManager.GetRolesAsync(user);
    var userRole = roles.FirstOrDefault();
    bool isAdmin = userRole == "Admin";
    bool isBuyer = userRole == "Customer";
}

@if (isAdmin)
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cat[0].Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat[0].Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cat)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Breed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    

                </td>
            </tr>
        }
    </tbody>
</table>
