@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@using kitty_store.Models
@inject UserManager<User> UserManager
@inject RoleManager<IdentityRole> RoleManager
@using Microsoft.AspNetCore.Authorization

@{
    ViewData["Title"] = "Index"; 
    bool isAdmin = false;
    bool isBuyer = false;

    if (User.Identity.IsAuthenticated)
    {
        var userId = UserManager.GetUserId(User);
        var user = await UserManager.FindByIdAsync(userId);
        var roles = await UserManager.GetRolesAsync(user);
        var userRole = roles.FirstOrDefault();
        isAdmin = userRole == "Admin";
        isBuyer = userRole == "Customer";
    }
}

@if (isAdmin)
{
    <p>
        <a asp-page="Create" class="btn btn-primary">Создать</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cat[0].Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat[0].Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cat)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Breed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                     @if (isAdmin) {
                                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                                        }
                                        else if (isBuyer)
                                        {
                                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                                            <a asp-page="BuyCat" asp-route-id="@item.Id">Buy</a>
                                        }
                                        else
                                        {
                                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                                        }
                </td>
            </tr>
        }
    </tbody>
</table>
