@page
@model kitty_store.Pages.CatPositions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model.CatPosition) {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Price: @item.Price</h5>
                    <p class="card-text">Date Added: @item.DateAdded</p>
                    <p class="card-text">Date Modified: @item.DateModified</p>
                    <p class="card-text">
                        Cat Id: <a href="@Url.Page("/Cats/Details", new { id = item.CatId })">@item.CatId</a>
                    </p>
                    <a href="@Url.Page("./Edit", new { id = item.Id })" class="btn btn-primary">Edit</a>
                    <a href="@Url.Page("./Details", new { id = item.Id })" class="btn btn-secondary">Details</a>
                    <a href="@Url.Page("./Delete", new { id = item.Id })" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
