@page
@model kitty_store.Pages.CatPositions.IndexModel

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-page="Create" class="btn btn-primary">Создать</a>
</p>

<div class="row">
    @foreach (var item in Model.CatPosition) {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                         Номер котика: <a href="@Url.Page("/Cats/Details", new { id = item.CatId })">@item.CatId</a>
                    </h5>
                    <p class="card-text date-info">Добавлено: @item.DateAdded<br>
                    Изменено: @item.DateModified</p>
                    <p class="card-text">Цена: @item.Price</p>
                    <a href="@Url.Page("./Edit", new { id = item.Id })" class="btn btn-primary">Изменить</a>
                    <a href="@Url.Page("./Details", new { id = item.Id })" class="btn btn-secondary">Детали</a>
                    <a href="@Url.Page("./Delete", new { id = item.Id })" class="btn btn-danger">Удалить</a>
                </div>
            </div>
        </div>
    }
</div>
<head><link rel="stylesheet" href="css/catposition-index.css"></head>
